@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
    url('../fonts/Barlow-Regular.woff') format('woff'),
    url('../fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
    url('../fonts/Barlow-SemiBold.woff') format('woff'),
    url('../fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-Black.woff2') format('woff2'),
    url('../fonts/Fraunces-Black.woff') format('woff'),
    url('../fonts/Fraunces-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
    url('../fonts/Barlow-Medium.woff') format('woff'),
    url('../fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
    url('../fonts/Barlow-Bold.woff') format('woff'),
    url('../fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Fraunces', sans-serif;
}

img {
    display: inline-block;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */

.header {
    padding: 45px 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-link-logo {
    text-decoration: none;
}

.header-link-logo:hover {
    opacity: 0.8;
}

.header-link-logo:active {
    opacity: 0.4;
}

.header-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-item + .header-item {
    margin-left: 33px;
}

.header-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
}

.header-link:hover {
    opacity: 0.8;
}

.header-link:active {
    opacity: 04;
}

/* MAIN */
/* HERO */

.hero {
    padding-bottom: 168px  ;
}

.hero-container {
    background-image: url(../images/blackcofe.png);
    background-size: cover;
}

.hero-left {
    padding: 137px 85px;
}

.hero-heading {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.hero-desc {
    width: 445px;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/* COMMITMENT */

.commitment {
    padding-bottom: 256px;
}

.commitment-container {
    width: 1150px;
    display: flex;
    align-items: center;
}

.commitment-right {
    margin-left: 125px;
}

.commitment-heading {
    margin: 0;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #333D4B;
}

.commitment-desc {
    width: 540px;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
}

/* QUALITY */

.quality {
    padding-bottom: 168px;
}

.quality-container {
    display: flex;
    background: #2A313A;
}

.quality-left {
    padding-top: 88px;
    padding-bottom: 176px;
    padding-left: 85px;
}

.quality-heading {
    margin: 0;
    margin-bottom: 32px;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
}

.quality-desc {
    width: 540px;
    margin: 0;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.quality-img {
    margin-left: 125px;
    position: relative;
    top: -88px;
}

/* NATION */
